# ---- data logs ----

# optional: generated data
*.csv
*.zip

# editor temp files
*~
*.swp


# VS Code local cache
.vscode/
**/.vscode/
*.vc.db
*.VC.db
*.db
ipch/

# VS Code local cache
.vscode/
**/.vscode/
*.vc.db
*.VC.db
*.db
ipch/
